<div class="flex justify-center h-screen items-center overflow-hidden">
    <div class="container">
        <div class="cover" [ngClass]="{'rotate-active': isRegister}">
            <div class="front">
                <img src="https://images.unsplash.com/photo-1494314671902-399b18174975?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fHBlb3BsZSUyMHdpdGglMjBmb29kfGVufDB8fDB8fHww"
                    alt="food" />

                <div class="text">
                    <span class="text-1">
                        Share, Savour and Create
                    </span>
                    <span class="text-2">Let's get connected</span>
                </div>
            </div>

            <div class="back">
                <img src="https://images.unsplash.com/photo-1448832529029-aca2dfcaf7c9?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDB8fHBlb3BsZSUyMHdpdGglMjBmb29kfGVufDB8fDB8fHww"
                    alt="food">
            </div>
        </div>

        <div class="form h-full">
            <div class="form-content h-full ">
                <div class="signup-form">
                    <h1 class="text-lg font-bold text-center pb-8">Sign Up</h1>

                    <form [formGroup]="registerForm" (ngSubmit)="handleRegister()" method="post">
                        <div class="mb-4">
                            <mat-form-field class="w-full">
                                <mat-label class="text-white">Full name</mat-label>
                                <input matInput placeholder="Full name" formControlName="fullName"
                                    class="py-2 px-3 text-white bg-[#333] focus:outline-none rounded-md w-full" />
                            </mat-form-field>
                        </div>

                        <div class="mb-4">
                            <mat-form-field class="w-full">
                                <mat-label class="text-white">Email</mat-label>
                                <input matInput placeholder="Email" formControlName="email"
                                    class="py-2 px-3 text-white bg-[#333] focus:outline-none rounded-md w-full" />
                            </mat-form-field>
                        </div>


                        <div class="mb-4">
                            <mat-form-field class="w-full">
                                <mat-label class="text-white">Password</mat-label>
                                <input matInput placeholder="Password" formControlName="password"
                                    class="py-2 px-3 text-white bg-[#333] focus:outline-none rounded-md w-full" />
                            </mat-form-field>
                        </div>

                        <div class="mt-[20px]">
                            <button class="w-full" mat-raised-button color="primary" type="submit">Register</button>
                        </div>
                    </form>

                    <div class="text-center pt-5">
                        Already have an account? <button mat-button color="primary" (click)="togglePage()"
                            class="font-[600] underline">Login</button>
                    </div>

                </div>

                <div class="login-form">
                    <h1 class="text-lg font-bold text-center pb-8">Login</h1>

                    <form [formGroup]="loginForm" (ngSubmit)="handleLogin()" method="post">

                        <div class="mb-4">
                            <mat-form-field class="w-full">
                                <mat-label class="text-white">Email</mat-label>
                                <input matInput placeholder="Email" formControlName="email"
                                    class="py-2 px-3 text-white bg-[#333] focus:outline-none rounded-md w-full" />
                            </mat-form-field>
                        </div>

                        <div class="mb-4">
                            <mat-form-field class="w-full">
                                <mat-label class="text-white">Password</mat-label>
                                <input matInput placeholder="Password" formControlName="password"
                                    class="py-2 px-3 text-white bg-[#333] focus:outline-none rounded-md w-full" />
                            </mat-form-field>
                        </div>

                        <div class="mt-[20px]">
                            <button class="w-full" mat-raised-button color="primary" type="submit">Login</button>
                        </div>
                    </form>

                    <div class="flex mt-[30px] justify-center items-center">
                        Don't have an account? <button mat-button color="primary" (click)="togglePage()"
                            class="font-[600] underline">Sign
                            up</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>