<form (ngSubmit)="onSubmit()" method="post" class="min-w-[27rem]  p-6 rounded-lg shadow-md">
    <div class="mb-4">
        <mat-form-field class="w-full">
            <mat-label class="text-white">Title</mat-label>
            <input matInput placeholder="Title" name="title" [(ngModel)]="recipeItem.title"
                class="py-2 px-3 text-white bg-[#333] focus:outline-none rounded-md w-full" />
        </mat-form-field>
    </div>

    <div class="mb-4">
        <mat-form-field class="w-full">
            <mat-label class="text-white">Description</mat-label>
            <input matInput placeholder="Description" name="description" [(ngModel)]="recipeItem.description"
                class="py-2 px-3 text-white bg-[#333] focus:outline-none rounded-md w-full" />
        </mat-form-field>
    </div>


    <div class="mb-4">
        <mat-form-field class="w-full">
            <mat-label class="text-white">Image URL</mat-label>
            <input matInput placeholder="Image URL" name="image" [(ngModel)]="recipeItem.image"
                class="py-2 px-3 text-white bg-[#333] focus:outline-none rounded-md w-full" />
        </mat-form-field>
    </div>

    <div class="mb-4">
        <mat-radio-group [(ngModel)]="recipeItem.vegetarian" aria-label="Select an option" name="vegetarian">
            <mat-radio-button value="true">Vegetarian</mat-radio-button>
            <mat-radio-button value="false">Non vegetarian</mat-radio-button>
        </mat-radio-group>
    </div>

    <div class="mt-[20px]">
        <button mat-raised-button color="primary" type="submit">Create</button>
    </div>
</form>